.site-footer{
    background-color: #ccccccc9;
    padding: 50px 0;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo{
    width: 120px;

    & > img {
        width: 120px;
    }
}
.footer-list{
    display: flex;
    align-items: flex-start;
    gap: 100px;
}